<template name="faqs">
                                     
                                                <article class=" page type-page hentry clearfix">
                                                        <h1 class="post-title"><a href="#">FAQs</a></h1>
                                                        <hr>
                                                        <p>中国科学院开源软件协会（OpenCAS）是由中国科学院大学(UCAS)研究生和本科生组成的开源技术社区。协会成立于2006年，秉承“开放，自由，分享”的理念，聚集开源爱好者，分享开源技术，传递开源理念，为科学院的同学创建平台参与开源项目，与其他开源社区、企业合作交流。</p>
                                                </article>

                                                <div class="faqs clearfix">

                                                        <article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">为什么要做OpenCAS Base平台?</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>OpenCAS是由一群热爱开源技术的中科院研究生和本科生自发组织的学生开源技术社区。在这里，开源爱好者们可以进行技术交流，活动组织，社区互动，发起项目，企业参观等等，每个人的想法都会得到社区的支持。</p>

                                                                        <ul>
                                                                                <li>OpenCAS于2014年12月启动了<a href="http://www.opencas.org">OpenCAS镜像站</a>项目，2015年3月OpenCAS镜像站正式开始服务</li>
                                                                                <li>FBT项目组发起<a href="#">FBT项目</a>,推出P2P资源分享服务。</li>
                                                                        </ul>
                                                                        <p>以上项目均是由OpenCAS的成员自发组织建立。OpenCAS聚集了一批热爱开源技术，技术能力强的优秀同学，为同学们提供平台与社区和企业对接起来就成为了OpenCAS的任务，这也是OpenCAS Base发布的原因。我们希望项目组，IT企业，创业团队和社区能够在OpenCAS Base发布招募/招聘信息，OpenCAS的成员们将会第一时间查收到这些信息，同时能通过OpenCAS Base向布者留下的邮箱发出求职申请。</p>

                                                                        <p>了解更多:</p>
                                                                        <ul>
                                                                                <li><a title="OpenCAS Mirrors" href="http://www.opencas.org">OpenCAS Mirrors</a></li>
                                                                                <li><a title="OpenCAS Forum" href="http://forum.opencas.org">OpenCAS Forum</a></li>
                                                                                <li><a title="OpenCAS Wiki" href="http://wiki.opencas.org">OpenCAS Wiki</a></li>
                                                                        </ul>
                                                                </div>
                                                        </article>

                                                        <article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">怎样使用OpenCAS Base?</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>发布者：在OpenCAS Base平台注册并留下通讯邮箱，登陆后在“Publish a job“中输入招募/招聘信息。一旦求职者发出求职申请，发布者将会收到来自OpenCAS Base的请求邮件。</p>
                                                                        <p>求职者：在OpenCAS Base平台填写基本信息并注册，登陆后将能在信息页面通过OpenCAS Base向发布者发出求职申请，信息发布者将会收到求职者的基本信息和简短自我介绍。</p>
                                                                </div>
                                                        </article>

                                                       

                                                </div>
                                  
</template>