<template name="joblist">
                                        <ul class="breadcrumb">
                                                        <li><a href="/">OpenCAS Base</a><span class="divider">/</span></li>
                                                        <li><a href="/joblist" title="Job List">Job List</a> <span class="divider">/</span></li>
                                                        
                                                </ul>


                                                {{#each lists}}
                                                <article class="format-standard type-post hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="/jobinfo/{{_id}}#">{{job}}</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">{{createdAt}}</span>
                                                                        <span class="category"><a href="#" title="View all posts in Advanced Techniques">{{tags}}</a></span>
                                                                        <span class="comments"><a href="#" title="Comment on Using Javascript">{{company}}</a></span>
                                                                        <span class="like-count">{{STARS}}</span>
                                                                </div><!-- end of post meta -->

                                                        </header>

                                                        {{#markdown}}{{abstract}}{{/markdown}}

                                                </article>
                                                {{/each}}
                                     
</template>