<template name="links">
	                                            <section class="widget">
                                                        <div class="quick-links-widget">
                                                                <h3 class="title">Quick Links</h3>
                                                                <ul id="menu-quick-links" class="menu clearfix">
                                                                        <li><a href="/">Home</a></li>
                                                                        <li><a href="/joblist">Job List</a></li>
                                                                        <li><a href="/faqs">FAQs</a></li>
                                                                        <li><a href="/contact">Contact</a></li>
                                                                </ul>
                                                        </div>
                                                </section>
</template>