<template name="tags">
                                                <section class="widget">
                                                        <h3 class="title">Tags</h3>
                                                        <div class="tagcloud">
                                                                <a href="#" class="btn btn-mini">ML</a>
                                                                <a href="#" class="btn btn-mini">C++</a>
                                                                <a href="#" class="btn btn-mini">Python</a>
                                                                <a href="#" class="btn btn-mini">Ruby</a>
                                                                <a href="#" class="btn btn-mini">Boost</a>
                                                                <a href="#" class="btn btn-mini">Java</a>
                                                                <a href="#" class="btn btn-mini">Javascript</a>
                                                                <a href="#" class="btn btn-mini">PHP</a>
                                                                <a href="#" class="btn btn-mini">Web</a>
                                                                <a href="#" class="btn btn-mini">Design</a>
                                   
                                                        </div>
                                                </section>
</template>